body{
    background: black ;
}

.gameAddPage{
    width:70%;
    margin-left: 15%;
}

.searchButton {
    margin-top: 420px;
    margin-left: 40%;
    background-color: rgba(51, 51, 51, 0.631372549);
    color: white;
    height: 80px;
    position: absolute;
    width: 400px;
    z-index: 999;
    cursor: default;
    border-radius: 30px;
    box-shadow: 2px 8px 6px hsla(0, 0%, 35%, 0.41);
}

.searchButton:hover {
    background-color: #f5f5f5;
    color: black;
}

.validateSearch{
    float: left;
    width: 70% !important;
    margin-left: 25px !important;
    height: 80px !important;
    margin-top: -15px !important;
    font-size: 35px !important;
    border: none !important;
    box-shadow: none !important;
}

.searchButton i {
    font-size: 80px;
    margin-top: -15px;
}


.btn_small{
    height:24px;
    width:100px;
    line-height:24px;
    margin:5px 5px;
    padding:0 0.5em;
}

.btn_small_icon{
    margin-right: -1rem !important;
}

.task_header{
    margin-top: 5px;
    margin-left: 5px;
}

.icon_top{
    margin-top: 5px;
}
.add{
    margin-top: 20px;
    margin-right:15px;
}
.new.badge {
    margin-top: 7px;
    background-color: #673ab7 !important;
}

.badge-game{
    margin-top: -87px !important;
}

.collapsible-header i {
    margin-right: -6px !important;
    float: right !important;
}

.left{
    margin-right: -5px !important;
}
.addgame{
    margin-left: 14% !important;
}
.addplat{
    margin-left: 16% !important;
}
/*-------------Nav------------*/
.dropdown-content{
    width: 25% !important;
    margin-top: 64px;
}

.dropdown-content li{
  border-left: 1px red solid;
    border-bottom: 1px red solid;
}

.dropdown-content li>a{
    color: white;
    text-decoration: none;
    background-color: black;
}
.dropdown-content li.divider {
    background-color: red;
}

.btn-floating:hover {
    background-color: #ccc !important;
}

.btn-floating i:hover{
    color: black;
}

.nav-wrapper ul li a:hover {
    background-color: red !important;
    color: black;
}
nav .nav-wrapper{
    border-bottom: 2px red solid;
}
.dropdown-content li.divider {
    min-height: 0;
    height: 1px;
    background-color: red;
}

/*-----------------------------*/
.overflow-head{
    overflow-y: scroll;
    height: 100%;
    margin-right: -10px;
    margin-left: 4%;
}
.overflow-games{
    height: 480px;
    width: 100%;
    margin-top: 15px;
}


/*----------------Modal--For--Game--------------*/
.modal{
    width:95% !important;
    max-height: none;
    overflow-y: unset;
}

.modal.modal-fixed-footer {
    height: 85% !important;
}

.modal-footer :hover{
    background-color: black;
    color: white;
}

.modal-header{
    margin: -25px !important;
    height: 430px;
    overflow: hidden;
}

.popup-img {
    width: 100%;
    height: 405px;
}

.trailer-sec{
    width: 720px !important;
    margin-left: 12px !important;
    height: 405px !important;
    background-color: black;
}

.trailer-sec iframe{
    height: 405px;
    width: 720px;
    margin-left: -12px !important;
}

.extra-sec{
    background-color: rgba(28,28,28,0.9);
    height: 405px !important;
    width: 35.65% !important;
    margin-right: 0px;
}

.PlayStation-4-modal-name{
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    width: 55%;
    margin-left: 20%;
    background-image: linear-gradient(to right, #1e5799 0%,#207cca 28%,#207cca 28%,#2989d8 43%,#2989d8 43%,#00ffef 100%) !important;
    border-top: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: #0064ff;
}

.Xbox-One-modal-name{
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    width: 55%;
    margin-left: 20%;
    background-image: linear-gradient(to right, rgb(76, 175, 80) 0%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 100%);
    border-top: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: #4caf50;
}

.Nintendo-Switch-modal-name{
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    width: 55%;
    margin-left: 20%;
    background-image: linear-gradient(to right, rgb(96, 125, 139) 0%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 100%);
    border-top: 10px solid;
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: rgb(96, 142, 165);
}

.PC-modal-name{
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    width: 55%;
    margin-left: 20%;
    color: white;
    background-color: black;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-left: 10px solid white;
}

.PlayStation-4-buy{
    height: 80px;
    background-image: linear-gradient(to right, #1e5799 0%,#207cca 28%,#207cca 28%,#2989d8 43%,#2989d8 43%,#00ffef 100%) !important;
    color: white;
    border-radius: 0px 0px 20px 20px;
}

.Xbox-One-buy{
    height: 80px;
    background-image: linear-gradient(to right, rgb(76, 175, 80) 0%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 100%);
    color: white;
    border-radius: 0px 0px 20px 20px;
}

.Nintendo-Switch-buy{
    height: 80px;
    background-image: linear-gradient(to right, rgb(96, 125, 139) 0%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 100%);
    color: white;
    border-radius: 0px 0px 20px 20px;
}

.PC-buy{
    height: 80px;
    background-color: black;
    color: white;
    border-radius: 0px 0px 20px 20px;
}

.modal-game-name{
    font-size: 50px !important;
    text-align: center !important;
}

.fa-times:before {
    margin-left: 240px;
    margin-top: 3px;
    position: absolute;
}

.modal.modal-fixed-footer .modal-content{
    overflow-y: unset;
}

.store{
    height: 75px;
    background-color: cornsilk;
    margin-left: 25px !important;
    width: 595px !important;
    border-radius: 15px;
    margin-top: 30px !important;
    box-shadow: 10px 10px black;
}

.store-logo{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    margin-top: 12px;
    margin-left: 5px;
}
.store-price{
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0px;
}

.store-link{
    margin-top: -8px;
    margin-left: 25px;
    font-weight: 500;
    font-size: 15px;
    float: left;
}

.modal-game-info{
    padding-left: 0px !important;
}

.game-info-sec{
    border: 2px solid black;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 1px solid;
    height: 170px;
}

.modal-game-reviews{
    background-color: #ddd;
    height: 350px;
    margin-right: 0px;
}

.game-review{
    height: 55px;
    background: #f1f1f1;
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: 0px 10px 10px grey;
}

.review-input{
    height: 60px;
    background: #f1f1f1;
    margin-left: -12px !important;
    width: 103% !important;
}

.review-input-box{
    margin-top: 3px !important;
}

.checked {
  color: orange !important;
}

.fa-star{
	height: 25px;
    width: 25px;
    font-size: 25px !important;
    margin-top: 15px;
    margin-left: 5px;
}

.reviews{
    padding: 5% 20% 5% 20%;
}

/*--------------------------------------------*/


.gameselect{
    background-color:#ccc;
    border-color: black;
}
.gameselect:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.platformselect{
    background-color:#ccc;
    border-right: hidden;
    border-left: hidden;
    border-top: hidden;
    border-color: black;
    cursor: default;
}

.platform-menu{
    margin-top: 10%;
    width: 90% !important;
}

.platform-menu-item{
    width: 25% !important;
}

.platform-menu-item a{
    font-size: 20px;
    height: 100px;
    width: 100% !important;
    background-color: red;
    text-align: center;
    margin: 30px;
    border: 5px black solid;
    border-radius: 10px;
    padding-top: 7.5% !important;
    color: black;
}

.platform-menu-item a:hover {
    background-color: black !important;
    color: white;
    box-shadow: 10px 10px black;
    border: 5px white solid;
}

.card .card-image .card-title{
    color: black;
}

.card .card-content .card-title{
    text-align: center;
}

.card .card-content p{
    text-align: center;
}

.card .card-content .card-title {
    text-align: center;
    margin-top: -25px;
}

.card .card-title {
    font-size: 18px;
}

.image{
    width:200px;
    height: 250px;
}

.card .card-image img{
    height: 160px;
}

.card .card-image img:hover{
    opacity: 0.75;
}

.card .card-content {
    height: 90px;
    background-color: #cccccc;
    border-radius: 0 0 10px 2px;
}

.badge-game{
    margin-right: 10px;
    position: absolute;
    left: calc(115% - 85px);
    top: 216px;
}

.game-case {
    border: 10px #9e9e9e solid;
    border-radius: 12px;
    border-left: 0px;
    padding-bottom: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    box-shadow: 5px 5px rgba(0, 100, 255, 0.25);
}

.playstation-4-case {
    border: 10px #0064ff solid;
    border-radius: 12px;
    border-left: 0px;
    padding-bottom: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    box-shadow: 5px 5px rgba(0, 100, 255, 0.25);
}

.xbox-one-case {
    border: 10px #4caf50 solid;
    border-radius: 12px;
    border-left: 0px;
    padding-bottom: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    box-shadow: 5px 5px rgba(76, 175, 80, 0.25);
}

.pc-case {
    border: 10px black solid;
    border-radius: 12px;
    border-left: 0px;
    padding-bottom: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    box-shadow: 5px 5px rgba(00, 00, 00, 0.25);
}

.nintendo-switch-case {
    border: 10px rgb(96, 125, 139) solid;
    border-radius: 12px;
    border-left: 0px;
    padding-bottom: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    box-shadow: 5px 5px rgba(96, 125, 139, 0.25);
}

.card {
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-image: #9e9e9e;
    background-image: -webkit-linear-gradient(to right, #9e9e9e 0%,#9e9e9e 28%,#9e9e9e 28%,#9e9e9e 43%,#9e9e9e 43%,#9e9e9e 100%);
    background-image: linear-gradient(to right, #9e9e9e 0%,#9e9e9e 28%,#9e9e9e 28%,#9e9e9e 43%,#9e9e9e 43%,#9e9e9e 100%);
    padding-top: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #0064ff;
    margin-top: 0px;
    width: 101%;
}

.playstation-4-card {
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-image: #1e5799;
    background-image: -webkit-linear-gradient(left, #1e5799 0%,#207cca 28%,#207cca 28%,#2989d8 43%,#2989d8 43%,#00ffef 100%);
    background-image: linear-gradient(to right, #1e5799 0%,#207cca 28%,#207cca 28%,#2989d8 43%,#2989d8 43%,#00ffef 100%) !important;
    padding-top: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #0064ff;
    margin-top: 0px;
    width: 101%;
}

.xbox-one-card {
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-image: -webkit-linear-gradient(to right, rgb(76, 175, 80) 0%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 100%);
    background-image: linear-gradient(to right, rgb(76, 175, 80) 0%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 28%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 43%, rgb(76, 175, 80) 100%);
    padding-top: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #0064ff;
    margin-top: 0px;
    width: 101%;
}

.pc-card {
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-image: -webkit-linear-gradient(to right, black 0%, black 28%, black 28%, black 43%, black 43%, black 100%);
    background-image: linear-gradient(to right, black 0%, black 28%, black 28%, black 43%, black 43%, black 100%);
    padding-top: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #0064ff;
    margin-top: 0px;
    width: 101%;
}

.nintendo-switch-card {
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-image: -webkit-linear-gradient(to right, rgb(96, 125, 139) 0%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 100%);
    background-image: linear-gradient(to right, rgb(96, 125, 139) 0%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 28%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 43%, rgb(96, 125, 139) 100%);
    padding-top: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #0064ff;
    margin-top: 0px;
    width: 101%;
}

.card .card-image img:hover {
    filter: saturate(3) contrast(2) hue-rotate(45deg);
    opacity: 0.8;
}

.rating {
    margin-top: -13%;
    margin-left: 22.5%;
    padding-bottom: 15px !important;
    position: absolute;
}

.games{
    padding: 1% 20% 1% 20%;
}

.edit-game{
    padding: 1% 20% 1% 20%;
    padding-top: 80px;
}

.plats {
    width: 60%;
    margin-left: 20%;
    padding-top: 75px;
}

.main-con {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
}

.create-con {
    height: 700px;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: -15px;
    background-color: white;
}

.login-con {
    height: 700px;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: -15px;
    background-color: white;
}

.plat-con{
    background-color: white;
    width: 100%;
    margin-left: 0;
    margin-right: 0px;
    max-width: none;
}

.plat-edit-con{
    background-color: white;
    width: 100%;
    margin-left: 0;
    margin-right: 0px;
    max-width: none;
    padding-top: 15%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 9.5%;
}

.plat-add-con{
    background-color: white;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0px;
}

.add-plat{
    width: 60% !important;
    margin-left: 20%;
}

.game-con{
    background-color: white;
    width: 100%;
    max-width: none;
    padding-top: 110px;
}

.edit-con{
    background-color: white;
    width: 100%;
    max-width: none;
}

.ParallaxVideo{ 
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px; 
}
.ParallaxVideo video{ 
   min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
}

.ParallaxVideo2{ 
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px; 
}
.ParallaxVideo2 video{ 
   min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -998;
    width: 100%;
}

.pararow{
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.page-footer .footer-copyright{
    background-color: #cccccc26;
}

.pagination li.active a {
    color: #fff;
}

.pagination li.active {
    background-color: #000000;
}

.footer{
    margin-left: 0;
    width: 100%;
    max-width: none;
    left: auto;
}

.parallax-container {
    height: 928px;
}

.game-header h1{
        color: white;
    margin-top: -64px;
    margin-bottom: 35px;
    background: #333333;
    width: 110px;
    border-radius: 10px;
    border: 2px red solid;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.game-box{
    padding-top: 25px;
    background-color: #333 !important;
    margin-bottom: 0;
    border-top: 2px red solid !important;
    border-bottom: 2px red solid !important;
    height: 875px;
}

.about-box{
    padding-top: 25px;
    background-color: #333 !important;
    margin-bottom: 0;
    border-top: 2px red solid !important;
    border-bottom: 2px red solid !important;
    height: 875px;
}

.contact-box{
    padding-top: 25px;
    background-color: #333 !important;
    margin-bottom: 0;
    border-top: 2px red solid !important;
    border-bottom: 2px red solid !important;
    height: 875px;
}

.line {
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 175px;
}
/*-----About Section------*/
.aboutSection {
    height: 98%;
}

.picture {
    height: 250px;
    background-image: url(/static/img/me.jpg);
    background-size: 123%;
    background-repeat: no-repeat;
    border: 12.5px black solid;
    border-radius: 120px 20px 120px 35px;
    position: relative;
    z-index: 2;
}

.name {
    background: #00000070;
    height: 150px;
    color: white;
    text-align: right;
    margin-top: -100px;
    position: relative;
    z-index: 1 !important;
    padding-top: 96px !important;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0px 0px 5px 15px;
    border: 7px white solid;
    border-right: 0;
    border-top: 0;
}

.info {
    background: #9e9e9e1c;
    color: white;
    height: 530px;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    border: 10px black solid;
    border-top: 0;
    border-right: 0;
    border-radius: 0px 0px 15px 20px;
    margin-top: -10px;
}

.aboutDiv{
    background: rgba(0, 0, 0, 0.87);
    height: 785px;
    margin-top: 20px;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
}

.aboutRow{
    margin-top: 20px;
}

.aboutHeader{
    height: 100px;
    background: white;
    border-radius: 10px 10px 15px 15px;
}

.aboutHeader-icon{
    font-size: 50px !important;
    color: #e67e22;
    margin-top: 22px;
}

.aboutHeader h3 {
    text-transform: uppercase;
    margin-top: 3%;
    margin-left: -150px;
    font-size: -webkit-xxx-large;
    font-family: "Courier New", Courier, monospace;
}

.aboutInfo{
    height: 400px;
}

.progress{
    position: relative;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(40, 40, 40, 1) !important;
}
.progress-type{
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25,25,25,0.2);
}
.progress-type2{
    position: absolute;
    left: 94.5%;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25,25,25,0.2);
}

.progress-section{
    margin: 40px 20px;
    margin-left: 100px !important;
    margin-right: 100px !important;
}

/*----------Three Reasons----------*/

.three-reasons-icon{
    font-size: 25px !important;
    color: #e67e22;
    margin-top: 15px;
    padding-left: 15px;
}

.three-reasons-heading{
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 15px;
}

.section-heading{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.mySkills{
    font-size: 18px;
    text-align: center;
    margin-left: -50px;
    margin-right: -23px;
    height: 30px;
}

.skill1{
    border-radius: 15px 0px 0px 0px;
}

.skill3{
    border-radius: 0px 0px 0px 15px; 
    box-shadow: 10px 10px rgba(0, 0, 0, 0.35);
}
.uppercase{
    text-transform: uppercase;
}
.f12{
    font-size: 12px;
}

/*----contact----*/
.contact-icons {
    padding-top: 10px;
    padding-left: 10px;
    color: #9e9e9e;
}

.contact-box .input-field .prefix ~ input,.contact-box  .input-field .prefix ~ textarea,.contact-box  .input-field .prefix ~ .validate ~ label{
    border-radius: 15px;
    padding-left: 21px;
    border: 1px white solid;
    background-color: black;
    color: white;
}

.contact-box textarea.materialize-textarea{
    height: 100px;
}

textarea.materialize-textarea.validate+label:not(.label-icon).active {
    color: #26a69a;
}

.validate:focus{
    border: 2px rgb(38, 166, 154) solid !important;
}

.valid {
    border: 2px rgb(76, 175, 80) solid !important;
}

.invalid {
    border: 2px rgb(244, 67, 54) solid !important;
}

.contactForm {
    border-radius: 15px;
    border: 3px solid;
    box-shadow: 30px 30px 15px #00000085;
    height: 780px;
}

.contactHeader i {
    float: left;
    margin-right: 10px;
    margin-top: 8px;
    margin-left: -70px;
    font-size: 60px;
}

.contactHeader h3{
    font-size: 60px;
}

span.helper-text {
    margin-left: 65px;
    position: absolute;
    margin-top: -20px;
    opacity: 0.65;
    text-decoration: underline;
    text-transform: capitalize;
    color: #9e9e9e;
}

/* Style all font awesome icons */
.socials{
    margin-left: 37.5% !important;
    margin-top: 80px;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 45%;
}

.fab:hover {
  background-color: #26a69a;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: black;
  color: white;
  padding-left: 12px;
  padding-top: 10px;
}

.fa-twitter {
  background: white;
  color: black;
  padding-left: 12px;
  padding-top: 10px;
}

.fa-google {
  background: black;
  color: white;
  padding-left: 12px;
  padding-top: 10px;
}

.fa-instagram {
  background: white;
  color: black;
  padding-left: 12px;
  padding-top: 10px;
}

.fa-linkedin {
  background: black;
  color: white;
  padding-left: 12px;
  padding-top: 10px;
}

.fa-github {
  background: white;
  color: black;
  padding-left: 11px;
  padding-top: 10px;
}

.fa-times {
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.collection-item{
    color: black !important;
}

.collection .collection-item.active {
    background-color: Red;
}

.games-logo{
    height: 100px;
    width: 100%;
    margin-bottom: -95px;
}

.game-logo-icon{
    font-size: 175px !important;
    margin-top: -40px;
    color: red;
    padding-left: 40px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.mainDiv{
    height: 640px;
    background-color: white;
    margin-left: -22px;
    border: 1px black solid;
    width: 103% !important;
}
/*--------------Join Section------------*/

.createAd {
    height: 150px;
    background-image: url(/static/img/test.jpg);
    width: 100% !important;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-position-y: -40px;
    margin-left: 20px !important;
}

#adButton:hover{
    background-color: blue !important;
    color: black;
    box-shadow: 5px 5px black;
}

.p1{
    width: 700px;
    background-color: rgba(0, 0, 0, 0.5);;
    border-radius: 15px;
    margin-left: 25%;
}

.p1 p{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 35px;
}

.p2{
    width: 590px;
    background-color: rgba(0, 0, 0, 0.5);;
    border-radius: 5px;
    margin-left: 30%;
}

.p2 p{
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px black;
}

/*-------------------------------------*/

/*--------------Game Options------------*/

ul.collection.with-header {
    padding-top: 130px;
    color: white !important;
}

.collection-header{
    background-color: #000 !important;
}

.collection.with-header i.material-icons {
    float: right;
}

.collection.with-header .collection-item {
    padding-left: 30px;
    height: 85px;
    font-size: 30px;
    padding-top: 30px;
}

.collection-header h4 {
    font-size: 32px;
}

.collection a.collection-item:not(.active):hover {
    background-color: #000;
    color: white !important;
}

.btn-back{
    width: 75%;
    background-color: black;
    color: white;
    position: absolute;
    margin-top: 7%;
    margin-left: -3.5%;
}

/*-------------------------------------*/

.page-footer {
    padding-top: 0px !important;
}

@media(max-width: 768px)
{
    .badge-game{
        left: calc(108% - 60px);
        top: 156px;
    }
    .main-con {
        width: 100%;
        max-width: none;
    }
    
    .plat-con{
        height: 100%;
    }
    .ParallaxVideo video{
        width: 385%;
        left: -145%;
        height: 100%;
    }
    
    .ParallaxVideo2 video{
        width: 385%;
        left: -145%;
        height: 100%;
    }
    
    .parallax-container {
        height: 755px;
    }
    
    .searchButton{
        margin-top: 610px;
        margin-left: 20%;
        height: 40px;
        width: 250px;
    }
    
    .searchButton i {
        font-size: 40px;
        margin-top: -15px;
    }
    
    .validateSearch {
        width: 70% !important;
        margin-top: -35px !important;
        font-size: 25px !important;
    }
    nav .brand-logo {
        left: 35% !important;
        position: inherit;
    }
    
    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        font-size: 50px !important;
    }
    
    .p1 {
        width: 170px;
    }
    
    .p2 {
        width: 170px;
    }
    
    .games {
        padding: 1% 5% 1% 5%;
    }
    
    .PlayStation-4-modal-name{
        height: 50px;
        margin-top: 20px;
    }
    
    .Xbox-One-modal-name{
        height: 50px;
        margin-top: 20px;
    }
    
    .PC-modal-name{
        height: 50px;
        margin-top: 20px;
    }
    
    .Nintendo-Switch-modal-name{
        height: 50px;
        margin-top: 20px;
    }
    
    .modal-game-name {
        font-size: 30px !important;
    }
    
    .game-header h1 {
        font-size: 34px !important;
        text-align: center;
        width: 130px;
    }
    
    .task_header{
        margin-left: 0 !important;
    }
    
    .collapsible-header i {
        margin-right: 3px !important;
    }
    .mobile-button-game {
        width: 20% !important;
    }
    
    .mobile-button-plat{
        width: 20% !important;
    }
    
    .mobile-button-game i {
        padding-left: 12px !important;
    }
    
    
    .mobile-button-plat i {
        margin-left: 20%;
        float: left !important;
    }
    
    a.waves-effect.waves-light.btn-large.btn_small.purple i{
        margin-left: 0 !important;
        font-size: 24px !important;
    }
    
    .collapsible-header.platformselect .task_header.col.s3 {
        width: 50%;
    }

    .plats {
        width: 80%;
        margin-left: 10%;
    }
    
    .game-logo-icon {
        font-size: 125px !important;
        margin-top: -55px;
        color: red;
        margin-bottom: -205px;
        padding-left: 120px;
    }
    
    .createAd {
        visibility: collapse;
        height: 0;
    }
    
    .collection.with-header .collection-item {
        height: 120px;
        padding-top: 50px;
        width: 50% !important;
        float: left !important;
        padding-left: 2%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        border: 1px solid #e0e0e0;
    }
    
    ul.collection.with-header {
        padding-top: 50px;
    }
    
    .menu-mobile{
        width: 110% !important;
        margin-left: -20px !important;
    }
    
    .mainDiv{
        width: 136% !important;
        margin-left: 0px !important;
        height: 810px !important;
    }
    
    .overflow-head{
        margin-left: -2% !important;
    }
    
    .overflow-games{
        margin-top: 5px;
    }
    
    .card .card-image img{
        height: 100px;
    }
    
    .game-case{
        height: 240px;
    }
    
    .game-case-size{
        width: 33% !important;
    }
    
    .playstation-4-case{
        height: 240px;
    }
    
    .playstation-4-card{
        background-position-y: -190px;
        border-top-right-radius: 5px !important;
    }
    
    .xbox-one-case{
        height: 240px;
    }
    
    .xbox-one-card{
        background-position-y: -190px;
        border-top-right-radius: 5px !important;
    }
    
    .pc-case{
        height: 240px;
    }
    
    .pc-card{
        background-position-y: -190px;
        border-top-right-radius: 5px !important;
    }
    
    .nintendo-switch-case{
        height: 240px;
    }
    
    .nintendo-switch-card {
        background-position-y: -190px;
        border-top-right-radius: 5px !important;
    }
    
    .socials {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .contactHeader{
        margin-left: 55% !important;
    }
    
    .contactHeader h3{
        width: 240%;
        float: left;
        margin-left: -170px;
    }
    
    .mobile-form{
        width: 90% !important;
        margin-left: 0 !important;
    }
    
    .m-f-b{
        margin-left: 35% !important;
    }
    
    .socials{
        width: 100% !important;
        margin-left: 5% !important;
    }
    
    .input-field.col.s6 {
        width: 100%;
    }
    
    .game-box{
        height: 1495px;
    }
    .rating {
        margin-top: 7%;
        margin-left: 8%;
        width: 160%;
        font-size: 12px;
    }
    
    .card .card-content {
        padding-top: 24px;
        margin-bottom: -30px;
    }
    
    .card .card-title {
        font-size: 18px;
        font-size: 14px;
    }
    
    .card .card-content {
        padding: 0 !important;
        margin-top: 24px !important;
    }
    
    .contactForm {
        box-shadow: 10px 10px 5px #00000085;
    }
    
    .plat-add-con{
        padding-top: 30%;
        padding-bottom: 30%;
    }
    
    .mobile-button {
        float: left !important;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .footer-copyright{
        margin-left: -25% !important;
    }
    
    .dropdown-content {
        width: 100% !important;
    }
    
    .col.s6.center {
        width: 100%;
        margin-bottom: 5%;
    }
    
    .input-mobile {
        margin-left: -35px !important;
        width: 120% !important;
    }
    
    .about-box{
        height: 1670px !important;
    }
    
    .mobile-about-info{
        width: 100% !important;
    }
    
    .skill1{
        border-radius: 15px 15px 0px 0px;
    }

    .skill3{
        border-radius: 0px 0px 15px 15px; 
        box-shadow: 0px 10px rgba(0, 0, 0, 0.35);
    }
    
    .mySkills {
        margin-left: -60px;
        margin-right: 0px;
    }
    
    .info{
        border-right: 10px black solid !important; 
    }
    
    .name{
        border-right: 7px white solid !important;
        text-align: center;
        border-radius: 0px 0px 15px 15px;
    }
    
    .line{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .aboutDiv {
        width: 100% !important;
        border-radius: 15px 15px 15px 15px;
    }
    
    .aboutHeader h3 {
        font-size: 50px;
        margin-top: -2%;
        margin-left: 0;
    }
    
    .progress-section {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    
    .progress-type2{
        font-size: 12px;
        left: 88.5%;
    }
    
    .popup-img {
        height: 170px;
    }
    
    .trailer-sec iframe {
        height: 220px !important;
        width: 100% !important;
    }
    
    .trailer-sec{
        height: 220px !important;
        width: 100% !important;
    }
    
    .platform-menu-item {
        width: 100% !important;
        margin-top: -30px !important;
    }
    
    
    .btn-back{
            width: 95%;
        background-color: black;
        color: white;
        position: inherit;
        margin-top: 0;
        margin-left: 2.5%;
    }
    
}