{% extends 'base.html' %}
{% block content %}

<h3>Add Game</h3>
<div class="row">
    <form class="col s12" action="{{ url_for('insert_game') }}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="plaform" name="game_platform">
                    <option value="" disabled selected>Choose a Platform</option>
                    {% for plat in plaforms %}
                    <option value="{{plat.game_platform}}">{{plat.game_platform}}</option>
                    {% endfor %}
                </select>
                <label>Platform</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="game_name" name="game_name" type="text" class="validate">
                <label for="icon_prefix">Game Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="game_info" id="game_info" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Task Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="game_date" name="game_date" type="text" class="datepicker">
                <label for="icon_prefix">Release date</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    <input id="recently_added" name ="recently_added" type="checkbox">
                    <span class="lever"></span>
                    Recently added
                    </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light right" type="submit" name="action">Add Game
                <i class="material-icons right">send</i>
            </button>
            <a href="{{ url_for('get_games') }}" class="waves-effect waves-light btn red">
                <i class="material-icons right">cancel</i>Cancel
            </a>
        </div>
    </form>
</div>

{% endblock %}