{% extends 'base.html' %}
{% block content %}
<div class="gameAddPage">
<h3>Add Game</h3>
<div class="row">
    <form name="gameForm" class="col s12" action="{{ url_for('insert_game') }}" onsubmit="return validateForm()" method="POST">
        <div class="row">
            <div class="input-field col s12 input-mobile">
                <i class="material-icons prefix">poll</i>
                <select id="plaform" name="game_platform">
                    <option value="" disabled selected>Choose a Platform</option>
                    {% for plat in plaforms %}
                    <option value="{{plat.game_platform}}">{{plat.game_platform}}</option>
                    {% endfor %}
                </select>
                <label>Platform</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 input-mobile">
                <i class="material-icons prefix">assignment</i>
                <input id="game_name" name="game_name" type="text" class="validate">
                <label for="icon_prefix">Game Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 input-mobile">
                <i class="material-icons prefix">subject</i>
                <textarea name="game_info" id="game_info" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Game Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 input-mobile">
                <i class="material-icons prefix">assignment</i>
                <input id="game_img" name="game_img" type="text" class="validate" value="">
                <label for="icon_prefix">Game Image</label>
            </div>
            <div class="input-field col s6 input-mobile">
                <i class="material-icons prefix">assignment</i>
                <input id="game_rating" name="game_rating" type="text" class="validate" value="">
                <label for="icon_prefix">Game Rating</label>
            </div>
            <div class="input-field col s6 input-mobile">
                <i class="material-icons prefix">assignment</i>
                <input id="game_trailer" name="game_trailer" type="text" class="validate" value="">
                <label for="icon_prefix">Game Trailer</label>
            </div>
            <div class="input-field col s6 input-mobile">
                <i class="material-icons prefix">assignment</i>
                <input id="game_developer" name="game_developer" type="text" class="validate" value="">
                <label for="icon_prefix">Game Developer</label>
            </div>
            <div class="input-field col s6 input-mobile">
                <i class="material-icons prefix">today</i>
                <input id="game_date" name="game_date" type="text" class="datepicker" value="">
                <label for="icon_prefix">Release date</label>
            </div>
            <div class="input-field col s6 input-mobile">
                <i class="material-icons prefix">assignment</i>
                <input id="game_players" name="game_players" type="number" class="validate" value="">
                <label for="icon_prefix">Players</label>
            </div>
            <div class="col s6 center">
                <div class="switch">
                <label>
                    <input id="game_coop" name ="game_coop" type="checkbox">
                    <span class="lever" ></span>
                    Game is Co-Op
                    </label>
            </div>
            </div>
            <div class="col s6 center">
                <div class="switch">
                    <label>
                        <input id="recently_added" name ="recently_added" type="checkbox">
                        <span class="lever" ></span>
                        Recently Added
                    </label>
                </div>
            </div>
        <div class="row">
            <button class="btn waves-effect waves-light right green mobile-button" type="submit" name="action">Add Game
                <i class="material-icons right">send</i>
            </button>
            <a href="{{ url_for('get_games') }}" class="waves-effect waves-light btn red mobile-button">
                <i class="material-icons right">cancel</i>Cancel
            </a>
        </div>
        <script type="text/javascript">
            function validateForm() {
              var a = document.forms["gameForm"]["game_platform"].value;
              var b = document.forms["gameForm"]["game_name"].value;
              var c = document.forms["gameForm"]["game_info"].value;
              var d = document.forms["gameForm"]["game_img"].value;
              var e = document.forms["gameForm"]["game_rating"].value;
              var f = document.forms["gameForm"]["game_trailer"].value;
              var g = document.forms["gameForm"]["game_developer"].value;
              var h = document.forms["gameForm"]["game_players"].value;
              
              if (a == "") {
                alert("Please Select Platform");
                return false;
              }
              if (b == "") {
                alert("Please Enter Game Name");
                return false;
              }
              if (c == "") {
                alert("Please Enter Game Info");
                return false;
              }
              if (d == "") {
                alert("Please Enter Game Image Url");
                return false;
              }
              if (e == "") {
                alert("Please Enter Game Rating");
                return false;
              }
              if (f == "") {
                alert("Please Enter Game Trailer");
                return false;
              }
              if (g == "") {
                alert("Please Enter Game Developer");
                return false;
              }
              if (h == "") {
                alert("Please Enter Game Players Value");
                return false;
              }
            }
        </script>
    </form>
</div>

</div>

{% endblock %}