{% extends 'base.html' %}
{% block content %}
<script src="/static/js/main.js"></script>
<div class="searchButton" id="search">
  <form>
    <div class="row">
      <div class="input-field col s12">
        <i class="Large material-icons">search</i>
        <input id="Search" type="text" class="validateSearch" placeholder="Search" autocomplete="off">
      </div>
    </div>
  </form>
</div>
<div class="top" id="main">
  <div class="parallax-container">
    <div class="parallax">
      <div class="ParallaxVideo">
        <video autoplay preload="auto" muted loop id="video-1">
          <source src="/static/vid/spider-man.mp4" type="video/mp4">
          <source src="https://s3.eu-west-2.amazonaws.com/project-4-data-centric/spider-man.mp4">
          <source src="/static/vid/spider-man.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>

  <ul class="collapsible popout white game-box" data-collapsible="accordion" id="games">
    <div class="row pararow">
      <div class="game-header">
        <h1>Games</h1>
      </div>
      <div class="col s2 menu-mobile">
        <div class="games-logo">
          <i class="game-logo-icon fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <ul class="collection with-header">
          <li class="collection-header"><h4>Games</h4></li>
          <a href="#!" class="collection-item active" onclick="myCollection(this.id)" id="all">ALL</a>
          <a href="#!" class="collection-item" onclick="myCollection(this.id)" id="new">NEW</a>
          <a href="#!" class="collection-item" onclick="myCollection(this.id)" id="rating">RATINGS</a>
          <a href="#!" class="collection-item" onclick="myCollection(this.id)" id="platform">PLATFORMS</a>
          <a href="#!" class="collection-item" onclick="myCollection(this.id)" id="players">PLAYERS</a>
          <a href="#!" class="collection-item" onclick="myCollection(this.id)" id="coop">CO-OP</a>
        </ul>
      </div>
      <div class="col s12 m12 l10 mobile-games">
      <div class="col s12 createAd">
        
      </div>
      <!-- All Games -->
      <div class="col s12 mainDiv" id="allGames" style="visibility: visible; display: block;">
        <div class="overflow-head">
          <div class="overflow-games">
            {% for game in games %}
            <div class="col game-case-size" style="width: 215px;">
              <a href="{{url_for('get_game', game_id=game._id)}}">
              <div class="{{game.game_platform|lower}}-case">
                <div class="card {{game.game_platform|lower}}-card">
                  <div class="card-image">
                  <img src="{{game.game_img}}">
                  {% if game.recently_added == "on" %}
                    <span class="new badge badge-game"></span>
                  {% endif %}
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                  </div>
                  <p class="rating">Rating : {{game.game_rating}}</p>
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!--   Find New Games -->
      <div class="col s12 mainDiv" id="newGames" style="visibility: hidden; display: none;">
        <div class="overflow-head">
          <div class="overflow-games">
            {% for game in new %}
            <div class="col game-case-size" style="width: 215px;">
              <a href="{{url_for('get_game', game_id=game._id)}}">
              <div class="{{game.game_platform|lower}}-case">
                <div class="card {{game.game_platform|lower}}-card">
                  <div class="card-image">
                  <img src="{{game.game_img}}">
                  {% if game.recently_added == "on" %}
                    <span class="new badge badge-game"></span>
                  {% endif %}
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                  </div>
                  <p class="rating">Rating : {{game.game_rating}}</p>
                </div>
              </div>
              </a>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <!--   Find ratings-->
      <div class="col s12 mainDiv" id="ratingGames" style="visibility: hidden; display: none;">
        <div class="overflow-head">
          <div class="overflow-games">
            <div class="row rating-menu" id="rating-Menu">
              <div class="rating-menu-item col s4">
                <a class="waves-effect waves-light btn" onclick="ratingselect(this.id)" id="rating-5"><i class="fas fa-star"></i> 5</a>
              </div>
              <div class="rating-menu-item col s4">
                <a class="waves-effect waves-light btn" onclick="ratingselect(this.id)" id="rating-4"><i class="fas fa-star"></i> 4</a>
              </div>
              <div class="rating-menu-item col s4">
                <a class="waves-effect waves-light btn" onclick="ratingselect(this.id)" id="rating-3"><i class="fas fa-star"></i> 3</a>
              </div>
              <div class="rating-menu-item col s4 offset-s2">
                <a class="waves-effect waves-light btn" onclick="ratingselect(this.id)" id="rating-2"><i class="fas fa-star"></i> 2</a>
              </div>
              <div class="rating-menu-item col s4">
                <a class="waves-effect waves-light btn" onclick="ratingselect(this.id)" id="rating-1"><i class="fas fa-star"></i> 1</a>
              </div>
            </div>
            
            <div class="overflow-games" id="rating-5-list" style="visibility: hidden; display: none;">
              {% for game in games %}
                {% if game.game_rating == "5" %}
                <div class="col game-case-size" style="width: 215px;">
                  <a href="{{url_for('get_game', game_id=game._id)}}">
                  <div class="{{game.game_platform|lower}}-case">
                    <div class="card {{game.game_platform|lower}}-card">
                      <div class="card-image">
                      <img src="{{game.game_img}}">
                      {% if game.recently_added == "on" %}
                        <span class="new badge badge-game"></span>
                      {% endif %}
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                      </div>
                      <p class="rating">Rating : {{game.game_rating}}</p>
                    </div>
                  </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            
            <div class="overflow-games" id="rating-4-list" style="visibility: hidden; display: none;">
              {% for game in games %}
                {% if game.game_rating <= "4.9" and game.game_rating >= "4" %}
                <div class="col game-case-size" style="width: 215px;">
                <a href="{{url_for('get_game', game_id=game._id)}}">
                <div class="{{game.game_platform|lower}}-case">
                  <div class="card {{game.game_platform|lower}}-card">
                    <div class="card-image">
                    <img src="{{game.game_img}}">
                    {% if game.recently_added == "on" %}
                      <span class="new badge badge-game"></span>
                    {% endif %}
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                    </div>
                    <p class="rating">Rating : {{game.game_rating}}</p>
                  </div>
                </div>
                </a>
              </div>
                {% endif %}
              {% endfor %}
            </div>
            
            <div class="overflow-games" id="rating-3-list" style="visibility: hidden; display: none;">
              {% for game in games %}
                {% if game.game_rating >= "3" and game.game_rating <= "3.9" %}
                <div class="col game-case-size" style="width: 215px;">
                  <a href="{{url_for('get_game', game_id=game._id)}}">
                  <div class="{{game.game_platform|lower}}-case">
                    <div class="card {{game.game_platform|lower}}-card">
                      <div class="card-image">
                      <img src="{{game.game_img}}">
                      {% if game.recently_added == "on" %}
                        <span class="new badge badge-game"></span>
                      {% endif %}
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                      </div>
                      <p class="rating">Rating : {{game.game_rating}}</p>
                    </div>
                  </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            
            <div class="overflow-games" id="rating-2-list" style="visibility: hidden; display: none;">
              {% for game in games %}
                {% if game.game_rating >= "2" and game.game_rating <= "2.9" %}
                <div class="col game-case-size" style="width: 215px;">
                  <a href="{{url_for('get_game', game_id=game._id)}}">
                  <div class="{{game.game_platform|lower}}-case">
                    <div class="card {{game.game_platform|lower}}-card">
                      <div class="card-image">
                      <img src="{{game.game_img}}">
                      {% if game.recently_added == "on" %}
                        <span class="new badge badge-game"></span>
                      {% endif %}
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                      </div>
                      <p class="rating">Rating : {{game.game_rating}}</p>
                    </div>
                  </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            
            <div class="overflow-games" id="rating-1-list" style="visibility: hidden; display: none;">
              {% for game in games %}
                {% if game.game_rating >= "1" and game.game_rating <= "1.9" %}
                <div class="col game-case-size" style="width: 215px;">
                  <a href="{{url_for('get_game', game_id=game._id)}}">
                  <div class="{{game.game_platform|lower}}-case">
                    <div class="card {{game.game_platform|lower}}-card">
                      <div class="card-image">
                      <img src="{{game.game_img}}">
                      {% if game.recently_added == "on" %}
                        <span class="new badge badge-game"></span>
                      {% endif %}
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                      </div>
                      <p class="rating">Rating : {{game.game_rating}}</p>
                    </div>
                  </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="rating-back" id="rating-back">
              <a class="waves-effect waves-light btn btn-back" onclick="myCollection('rating')">Go Back</a>
            </div>
          </div>
        </div>
      </div>
      <!--   Find platforms -->
      <div class="col s12 mainDiv" id="platformGames" style="visibility: hidden; display: none;">
        <div class="overflow-head">
          <div class="row platform-menu" id="platform-Menu">
            {% for platform in platforms %}
            <div class="platform-menu-item col s2">
              <a class="waves-effect waves-light btn" onclick="platformSelect(this.id)" id="{{platform.game_platform}}">{{platform.game_platform}}</a>
            </div>
            {% endfor %}
          </div>
          <div class="overflow-games" id="ps4-list" style="visibility: hidden; display: none;">
            {% for game in ps4 %}
            <div class="col game-case-size" style="width: 215px;">
              <a href="{{url_for('get_game', game_id=game._id)}}">
              <div class="{{game.game_platform|lower}}-case">
                <div class="card {{game.game_platform|lower}}-card">
                  <div class="card-image">
                  <img src="{{game.game_img}}">
                  {% if game.recently_added == "on" %}
                    <span class="new badge badge-game"></span>
                  {% endif %}
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                  </div>
                  <p class="rating">Rating : {{game.game_rating}}</p>
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="overflow-games" id="linux-list" style="visibility: hidden; display: none;">
          {% for game in linux %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div> 
          <div class="overflow-games" id="mac-list" style="visibility: hidden; display: none;">
          {% for game in mac %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div> 
          <div class="overflow-games" id="xbone-list" style="visibility: hidden; display: none;">
          {% for game in xbone %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div> 
          <div class="overflow-games" id="x360-list" style="visibility: hidden; display: none;">
          {% for game in x360 %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div> 
          <div class="overflow-games" id="ps3-list" style="visibility: hidden; display: none;">
          {% for game in ps3 %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div> 
          <div class="overflow-games" id="pc-list" style="visibility: hidden; display: none;">
          {% for game in pc %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div> 
          <div class="overflow-games" id="ninswitch-list" style="visibility: hidden; display: none;">
          {% for game in ninswitch %}
          <div class="col game-case-size" style="width: 215px;">
            <a href="{{url_for('get_game', game_id=game._id)}}">
            <div class="{{game.game_platform|lower}}-case">
              <div class="card {{game.game_platform|lower}}-card">
                <div class="card-image">
                <img src="{{game.game_img}}">
                {% if game.recently_added == "on" %}
                  <span class="new badge badge-game"></span>
                {% endif %}
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                </div>
                <p class="rating">Rating : {{game.game_rating}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          </div>
          <div class="platform-back" id="platform-back">
            <a class="waves-effect waves-light btn btn-back" onclick="myCollection('platform')">Go Back</a>
          </div>
        </div>
      </div>
      <!--   Find Players -->
      <div class="col s12 mainDiv" id="playersGames" style="visibility: hidden; display: none;">
        <div class="overflow-head">
          <div class="overflow-games">
            {% for game in players %}
            <div class="col game-case-size" style="width: 215px;">
              <a href="{{url_for('get_game', game_id=game._id)}}">
              <div class="{{game.game_platform|lower}}-case">
                <div class="card {{game.game_platform|lower}}-card">
                  <div class="card-image">
                  <img src="{{game.game_img}}">
                  {% if game.recently_added == "on" %}
                    <span class="new badge badge-game"></span>
                  {% endif %}
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                  </div>
                  <p class="rating">Rating : {{game.game_rating}}</p>
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!--   Find Coop Games -->
      <div class="col s12 mainDiv" id="coopGames" style="visibility: hidden; display: none;">
        <div class="overflow-head">
          <div class="overflow-games">
            {% for game in coop %}
            <div class="col game-case-size" style="width: 215px;">
              <a href="{{url_for('get_game', game_id=game._id)}}">
              <div class="{{game.game_platform|lower}}-case">
                <div class="card {{game.game_platform|lower}}-card">
                  <div class="card-image">
                  <img src="{{game.game_img}}">
                  {% if game.recently_added == "on" %}
                    <span class="new badge badge-game"></span>
                  {% endif %}
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{game.game_name}}</span>
                  </div>
                  <p class="rating">Rating : {{game.game_rating}}</p>
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
    </div>
  </ul>
  
  <div class="parallax-container">
    <div class="parallax">
      <div class="ParallaxVideo2">
        <video autoplay preload="auto" muted loop id="video-2">
          <source src="/static/vid/elite-danagerous.mp4" type="video/mp4">
          <source src="https://s3.eu-west-2.amazonaws.com/project-4-data-centric/elite-danagerous.mp4">
          <source src="/static/vid/elite-danagerous.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
    
  <ul class="collapsible popout white about-box" data-collapsible="accordion" id="about">
    <div class="row pararow aboutSection">
      <div class="game-header">
        <h1>About</h1>
      </div>
        <div class="row" style="margin-bottom: 0;">
          <div class="col s2 mobile-about-info">
            <div class="row" style="margin-bottom: 0;">
              <div class="col s12 picture"></div>
            </div>
            <div class="row" style="margin-bottom: 0;">
              <div class="col s12 name uppercase">jason bishop</div>
            </div>
            <div class="row" style="margin-bottom: 0;">
              <div class="col s12 info">
                <div class="col s12 " style="padding-top: 10px;">
                  <h3 class="section-heading uppercase">about me</h3>
                  <div class="line" style="margin-top: -9px; margin-left: -10px; margin-right: -30px;"></div>
                  
                  <div class="row" style="margin-bottom:0px;margin-top: -10px; height: 150px !important;">
                      <div class="col s2">
                          <i class="three-reasons-icon fa fa-tv" aria-hidden="true"></i>
                      </div>
                      <div class="col s10">
                          <h4 class="three-reasons-heading uppercase">Front End</h4>
                          <li class="mySkills skill1" style="background: grey;"> HTML</li>
                          <li class="mySkills" style="background: white; color: black;"> CSS</li>
                          <li class="mySkills skill3" style="background: #4caf50;"> JS</li>
                      </div>
                  </div>
                  
                  <div class="row" style="margin-bottom:0px; margin-top: -10px;">
                      <div class="col s2">
                          <i class="three-reasons-icon fa fa-gears" aria-hidden="true"></i>
                      </div>
                      <div class="col s10">
                          <h4 class="three-reasons-heading uppercase">Back End</h4>
                          <li class="mySkills skill1" style="background: black;"> Python</li>
                          <li class="mySkills" style="background: blue;"> DJango</li>
                          <li class="mySkills skill3" style="background: brown;"> MongoDB</li>
                      </div>
                  </div>
                  
                  <div class="row" style="margin-bottom:0px; margin-top: 5px;">
                      <div class="col s2">
                          <i class="three-reasons-icon fa fa-gamepad" aria-hidden="true"></i>
                      </div>
                      <div class="col s10">
                          <h4 class="three-reasons-heading uppercase">Games I Enjoy</h4>
                          <li class="mySkills skill1" style="background: slategrey; color: cornsilk;"> Destiny 2</li>
                          <li class="mySkills" style="background: tomato; height: 100%;"> Middle Earth: Shadow of war</li>
                          <li class="mySkills skill3" style="background: purple;"> Elite Dangerous</li>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s10 aboutDiv">
            <div class="row aboutRow">
              <div class="col s1"></div>
              <div class="col s10 aboutHeader">
                <div class="col s3">
                  <i class="aboutHeader-icon fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="col s9">
                  <h3 class="">about site</h3>
                </div>
              </div>
              <div class="col s1"></div>
            </div>
            <div class="row aboutInfo">
              <div class="col s12 m12 l4">
                <h3>Why I Created This Website ? </h3>
                <p>Why I Created This Website ? </p>
              </div>
              <div class="col s12 m12 l4">
                <h3>How I Created This Website ? </h3>
                <p>How I Created This Website ? </p>
              </div>
              <div class="col s12 m12 l4">
                <h3>Who Does This Website Target ? </h3>
                <p>Who Does This Website Target ? </p>
              </div>
            </div>
            <div class="row progress-section">
              <div class="progress">
                  <div class="determinate green" style="width:80%"></div>
                  <span class="progress-type">HTML / HTML5</span>
                  <span class="progress-type2">80% </span>
              </div>
              <div class="progress">
                  <div class="determinate purple" style="width:90%"></div>
                  <span class="progress-type">CSS / CSS3</span>
                  <span class="progress-type2">90% </span>
              </div>
              <div class="progress">
                  <div class="determinate orange" style="width:40%"></div>
                  <span class="progress-type">JavaScript / jQuery</span>
                  <span class="progress-type2">40% </span>
              </div>
              <div class="progress">
                  <div class="determinate red" style="width:80%"></div>
                  <span class="progress-type">Python / MongoDB</span>
                  <span class="progress-type2">80% </span>
              </div>
              <div class="progress">
                  <div class="determinate" style="width:10%"></div>
                  <span class="progress-type">SQL / NoSQL</span>
                  <span class="progress-type2">10%</span>
              </div>
            </div>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                  <div class="collapsible-header aboutSelect">
                      <div class="col s1 about-chevron">
                          <i class="fas fa-chevron-down"></i>
                      </div>
                      <div class="about_header col s3">
                          <strong>How To Add A Game ?</strong>
                      </div>
                       <div class="col s1 about-chevron">
                          <i class="fas fa-chevron-down"></i>
                      </div>
                  </div>
                  <div class="collapsible-body">
                      <h1 class="aboutInfoText">Step By Step Guide : </h1>
                      <ul class="aboutInfoText">
                        <li>1. Firstly Select The Manage Games Option From The Admin Drop Down Menu On The Navigation Bar.</li>
                        <li><img src="/static/img/about/select_admin.jpg" class="w100"></img></li>
                        <li>2. Secondly Click The New Game Button at the bottom of the page.</li>
                        <li><img src="/static/img/about/select_add.jpg"  class="w50"></img></li>
                        <li>3. This Will Take You To A Form, Which Will Allow You To Enter Details About A Game You Want To Add.</li>
                        <li><img src="/static/img/about/select_add_game.jpg" class="w100"></img></li>
                        <li>4. When Selecting The Platform It Will Have A Drop Down Menu With Multiple Platforms, Select Your Desired Platform.</li>
                        <li><img src="/static/img/about/select_plat.jpg" class="w100"></img></li>
                        <li>5. When Providing The Link To The Trailer You Will Have To Do The Following:</li>
                        <li><img src="/static/img/about/select_add_trailer.jpg"  class="w50"></img></li>
                        <li>6. Go To Youtube And Find A Trailer For The Game You Want Then Refer To The URL / Website Address.</li>
                        <li><img src="/static/img/about/select_one.jpg" class="w50"></img></li>
                        <li>7. Copy The Code From The Url After the = Character And Paste It In The Game Trailer Box</li>
                        <li><img src="/static/img/about/select_two.jpg" class="w50"></img></li>
                        <li>8. Finally Once All Information Has Been Correclty Entered Press "Add Game" Which Will Add It To The DataBase And Will Be Avaible On The Games Section For Every One To See.</li>
                        <li>For Example: </li>
                        <li><img src="/static/img/about/select_example.jpg"></img></li>
                      </ul>
                  </div>
              </li>
              <li>
                <div class="collapsible-header aboutSelect">
                    <div class="col s1 about-chevron">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="about_header col s3">
                        <strong>How To Edit A Game ?</strong>
                    </div>
                     <div class="col s1 about-chevron">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                  <h1 class="aboutInfoText">Step By Step Guide : </h1>
                  <ul class="aboutInfoText">
                    <li>1. Select The Manage Games Option From The Admin Drop Down Menu On The Navigation Bar.</li>
                    <li><img src="/static/img/about/select_admin.jpg" class="w100"></img></li>
                    <li>2. Click The Game You Want To Edit.</li>
                    <li><img src="/static/img/about/select_edit.jpg" class="w50"></img></li>
                    <li>3. Press The "Edit" Buttom To Edit Game </li>
                    <li><img src="/static/img/about/select_edit_edit.jpg" class="w50"></img></li>
                    <li>4.This Will Bring Up A Form, Which Will Allow You To Edit The Details About A Game You Want To Edit</li>
                    <li><img src="/static/img/about/select_edit_game.jpg" class="w100"></img></li>
                    <li>5. Once All Information Has Been Correclty Entered Press "Edit Game" Which Will Edit The Information On The DataBase.</li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header aboutSelect">
                    <div class="col s1 about-chevron">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="about_header col s3">
                        <strong>More !</strong>
                    </div>
                     <div class="col s1 about-chevron">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                  <h1 class="aboutInfoText" style="text-align: center !important;">Coming Soon !</h1>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </ul>
    
  <div class="parallax-container">
    <div class="parallax">
      <div class="ParallaxVideo2">
        <video autoplay preload="auto" muted loop id="video-3">
          <source src="/static/vid/RDR2.mp4" type="video/mp4">
          <source src="https://s3.eu-west-2.amazonaws.com/project-4-data-centric/RDR2.mp4">
          <source src="/static/vid/RDR2.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
    
  <ul class="collapsible popout white contact-box" data-collapsible="accordion" id="contact">
    <div class="row pararow contactForm">
      <div class="game-header">
        <h1>Contact</h1>
      </div>
      <div class="col s5 offset-s5 contactHeader">
        <i class="material-icons prefix contact-icons">contact_mail</i><h3>Contact Us</h3>
      </div>
      <form class="col s10 offset-s1 mobile-form">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix contact-icons">person</i>
            <input id="first_name" type="text" class="validate">
            <label for="first_name" style="border: 0;background: 0;">First Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix contact-icons">person_outline</i>
            <input id="last_name" type="text" class="validate">
            <label for="last_name" style="border: 0;background: 0;">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix contact-icons">email</i>
            <input id="email" type="email" class="validate">
            <label for="email" style="border: 0;background: 0;">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">I need your email so i can reply to your inquiry.</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix contact-icons" style="padding-top: 50px;">mode_edit</i>
            <textarea id="textarea1" class="materialize-textarea validate"></textarea>
            <label for="textarea1" style="border: 0;background: 0;">Write Your Message Here...</label>
          </div>
        </div>
        <div class="row">
          <div class="col s5 offset-s5 m-f-b">
            <button class="btn waves-effect waves-light green" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
      <div class="col s12">
        <div class="row">
          <div class="col m4 offset-m4 socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
            <a href="https://twitter.com/" class="fab fa-twitter"></a>
            <a href="https://www.google.com/" class="fab fa-google"></a>
            <a href="https://www.instagram.com/?hl=en" class="fab fa-instagram"></a>
            <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
            <a href="https://github.com/" class="fab fa-github"></a>
          </div>
        </div>
      </div>
    </div>
  </ul>
  
</div>
{% endblock %}