{% extends 'base.html' %}
{% block content %}
<div class="plats">
<div class="row">
    <h3>Platforms</h3>
    <ul class="collapsible platformselect" data-collapsible="accordion">
        {% for platform in platforms %}
        <li>
            <div class="collapsible-header platformselect">
                <a href="{{url_for('delete_platform', platform_id=platform._id)}}"class="waves-effect waves-light btn-large btn_small red mobile-button-plat"><i class="material-icons left btn_small_icon">delete</i>Delete</a>
                <a href="{{url_for('edit_platform', platform_id=platform._id)}}" class="waves-effect waves-light btn-large btn_small blue mobile-button-plat" ><i class="material-icons left btn_small_icon">edit</i>Edit</a>
                <div class="task_header col s3">
                    <strong>{{platform.game_platform}}</strong>
                </div>
            </div>
        </li>
        {% endfor %}.
    </ul>
    <div class="row">
        <div class="col s10 addplat">
            <a href="{{url_for('add_platform')}}" class="btn-floating btn-large waves-effect waves-light black right"><i class="material-icons">playlist_add</i></a>
            <placeholder><strong class="add right">Add Platform</strong></placeholder>
        </div>
    </div>
</div>
</div>
{% endblock %}